html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%; /* Ensure it does not overflow */
}

.title {
  padding: 1rem;
}

.beta {
  color: #008000;
}

a {
  color: #3d90dd;
}

::-webkit-scrollbar {
  display: none;
}
